$pinky-red: #fb5353;
$dark-grey: #4c4c4c;
$mid-grey: #909090;
$kinda-white: #fcfcfc;

$font-family-sans-serif: "Fjalla One", sans-serif, "Apple Color Emoji";

$body-bg: transparent;

$theme-colors: (
  "pinky-red": $pinky-red,
  "dark-grey": $dark-grey,
  "mid-grey": $mid-grey,
  "kinda-white": $kinda-white
);

@import "node_modules/bootstrap/scss/bootstrap.scss";
